body {
  font: 34px "Century Gothic", Futura, sans-serif;
  margin-left: 35%;
  margin-top:10%;
  margin-right: 10%;
  margin-bottom: 30%;
  background-color: black;
  color:white;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: #40b5c7;
  border: 3px solid black;
  float: left;
  font-size: 7em;
  font-weight: bold;
  line-height: 34px;
  height: 250px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 250px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
